body {
    background-color: black;
}
.row{
    width: 500px;
}
.row::after {
    clear: both;
    display: table;

}


.column {
    /* border:2px solid blue; */
    float: left;
    padding-left: 2px;
    transition: transform 1s;
}


/* .row div#zoom:hover{
    
    transform: scale(1.5);
} */


.row div.column:hover{
    opacity: 0.8;
    transform: scale(1.5);
    transition-delay: 0.3s;
    
}



#name {
    position: relative;
    /* text-align: center; */
    text-decoration-style: solid;
    text-shadow: 1px;
    text-decoration-color: magenta;
    font-style: italic;
    font-size: large;
    color: blanchedalmond;
}